<div style='font-family: Poppins'>
  <!--   CONTENT   -->
  <table
    role='content'
    style='padding: 10px 0px; color: #363740; font-size: 16px;'
  >
    <tr>
      <td style='padding-bottom: 24px; font-weight: 600'>
        Dear
        {{name}},
      </td>
    </tr>

    <tr>
      <td>
        Thank you very much for your attendance at our interview for the post of
        internship.
      </td>
    </tr>
    <tr>
      <td>
        We appreciate your interest in our company and the time you’ve invested
        in applying for our opening.
      </td>
    </tr>
    <tr>
      <td>
        After careful consideration, we regret to inform you that you are not
        the right fit for this position at present.
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 16px;'>
        Honestly, our team was impressed by your skills and accomplishments. We
        think you could be a good fit for other future openings and will reach
        out again if we find a good match.
      </td>
    </tr>

    <tr>
      <td>
        We sincerely wish you success in your career path and your life.
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 16px;'>
        Again, thank you for your time.
      </td>
    </tr>

    <tr>
      <td style='padding-bottom: 8px;'>
        <span>Best regards,</span>
        <br />
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 8px;'>
        <span style='font-weight: 600'>The DEVPLUS Team</span>
      </td>
    </tr>
  </table>
</div>